.LoginPage {
    margin: 3vh 8vh;
    border: solid 1px black;
}

.LoginPage .Logo {
    text-align: left;
    text-decoration: none;
    color: black;
}

.LoginPage .header {
    text-align: left;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginPage .form {
    display: flex;
    flex-direction: column;
    width: 30vh;
}